<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChessPuzzle"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChessPuzzle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DifficultySelectionActivity"
            android:exported="false"
            android:label="Izbor Težine"
            android:theme="@style/Theme.ChessPuzzle" />
        <activity
            android:name=".modul1.GameActivity"
            android:exported="false"
            android:label="Šahovska Igra"
            android:theme="@style/Theme.ChessPuzzle" />
        <activity
            android:name=".modul1.FigureSelectionActivity"
            android:exported="false"
            android:label="FigureSelectionActivity"
            android:theme="@style/Theme.ChessPuzzle" />
        <activity
            android:name=".modul1.HighScoresActivity"
            android:exported="false"
            android:label="Najbolji Rezultati"
            android:theme="@style/Theme.ChessPuzzle" />
        <activity
            android:name=".modul2.Modul2GameScreenActivity"
            android:exported="false"
            android:label="Modul 2 Igra" />
        <activity
            android:name=".modul2.Modul2GameActivity"
            android:exported="false"
            android:label="Modul 2: Pomoć pri učenju" />
        <activity
            android:name=".modul1.SolutionDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".modul1.PositionCreationActivity"
            android:exported="false" android:label="Kreiranje pozicije"
            android:theme="@style/Theme.ChessPuzzle"
            >
        </activity>
    </application>

</manifest>